/* .form-controla{
        background: #1d1e2e;
        border: 1px solid #ffe194;
        border-radius: 8px;
        box-shadow: none;
        color: #fff;
        font-size: 14px;
        height: 45px;
        line-height: 45px;
} */
.input_reg{
    background-color: #fff !important;
}
