.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
    background-color: #050b1c !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: #050b1c !important;
    color: white !important;
}

.css-wa5fuu-MuiListItemIcon-root {
    color: white !important;
}

.css-1191obr-MuiPaper-root-MuiAppBar-root {
    background-color: #050b1c !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: white !important;
}

.css-1ddsiuw-MuiListItemIcon-root {
    color: white !important;
}

.css-i4bv87-MuiSvgIcon-root .icn {
    width: 2.5em !important;
    height: 2.5em !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: transparent !important;
    color: white !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    padding: 0 !important;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
    margin: 0 !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 0 !important;
}

.css-yw020d-MuiAccordionSummary-expandIconWrapper {
    color: white !important;
}

.css-cvyseg-MuiPaper-root-MuiAppBar-root {
    background-color: #050b1c !important;
}

.MuiPaper-root {
    background-color: #050b1c !important;

}

@media screen and (max-width: 800px) {
    /* .main_drw {
        display: none !important;
    } */

    .mb_flx {
        display: flex;
        flex-direction: column;
    }

    .css-zxdg2z {
        overflow-x: hidden !important;
    }
}

@media screen and (max-width:992px) {

    .Toolbar_resp {
        display: none !important;
    }
}

@media (min-width:993px) {
    .Offcanvas_res {
        display: none !important;
    }
}
.buyOnlin tbody  tr td{
    border-color: inherit;
    border-style: none !important;
    border-width: 0;
}

.table {

    --bs-table-bg: transparent !important;
    --bs-table-color: #fff !important;

}

.card-title {
    color: #fff !important;
}


.Main_Width{
    /* border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.card_Overflowww{
    width: 1100px;
}

@media screen and (max-width:992px) {
    .card_Overflowww{
        width: 100% !important;
    } 
}

.css-67l5gl{
    color: white !important;
}

.css-gcf7nn{
    color: white !important;
}
.css-3wucx{
    color: white !important;
}
.css-kue437{
    color: white !important;
}

.css-1yxmbwk{
    color: white !important;
}
.css-1fx8m19{
    color: white !important;
}

.css-kue437 {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: white !important;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 20px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    min-height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
}

.MuiListItemIcon-root{
    color: #fff !important;
    font-size: 31px !important;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2rem !important;
}